<br>
<br>
<div>
  <h2 class="titulo">Lista de Metodos de Pago</h2>

  <div class="card-container">

    <mat-card *ngFor="let element of pagedData" class="mat-elevation-z8 contenido-card">

      <mat-card-header>
        <mat-card-title class="titulo">{{ element.tipo }}</mat-card-title>
        <mat-card-subtitle>
          ID: {{ element.idMetodoPago }}
        </mat-card-subtitle>
        </mat-card-header>
      <div class="icon-container">
        <mat-icon class="icono-contenido">book</mat-icon>
      </div>
      <mat-card-content>
        <p>{{ element.detalles }}</p>
      </mat-card-content>

    </mat-card>

  </div>

  <!-- Paginador -->
  <mat-paginator
    [length]="dataSource.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[2, 5, 10, 20]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>

  <!-- Mensaje cuando no hay datos -->
  <div *ngIf="!dataSource || dataSource.length === 0" class="no-data-message">
    No hay contenidos para mostrar.
  </div>

</div>