<div class="reporte-container">
<div class="header-row">
    <div>
    <h2>Reportes Financieros</h2>
    <p class="subtitle">Análisis de transacciones y flujo de la billetera EcoHabit</p>
    </div>
</div>

<div class="dashboard-grid">
    <mat-card class="chart-card">
    <div class="card-header">
        <div class="icon-circle green-bg"><mat-icon>paid</mat-icon></div>
        <span class="card-title">Volumen de Dinero por Tipo</span>
    </div>
    <div class="chart-wrapper">
        <canvas baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="pieChartType">
        </canvas>
    </div>
    </mat-card>

    <mat-card class="table-card">
    <div class="card-header">
        <div class="icon-circle blue-bg"><mat-icon>table_chart</mat-icon></div>
        <span class="card-title">Detalle de Operaciones</span>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo Transacción </th>
            <td mat-cell *matCellDef="let element" class="bold-text"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> # Ops </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadTransacciones}} </td>
        </ng-container>

        <ng-container matColumnDef="usuarios">
            <th mat-header-cell *matHeaderCellDef> Usuarios Únicos </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadBilleterasUnicas}} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto Total </th>
            <td mat-cell *matCellDef="let element" class="amount-text"> 
            S/. {{element.montoTotal | number:'1.2-2'}} 
            </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    </mat-card>

</div>
</div>