<div class="container">
  <br />
  <div class="titulo"><h2>Registro de Billeteras</h2></div>
  <br />
  <div>
    <form [formGroup]="form" (submit)="aceptar()">

      <!--Usuario Column-->
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Usuario:</mat-label>
          <mat-select formControlName="usuarioL" required>
            @for (p of listaUsuarios; track p.idUsuario) {
            <mat-option [value]="p.idUsuario">
              {{ p.nombre }}
            </mat-option>
            }
          </mat-select>

          @if (form.get('usuarioL')?.hasError('required')) {
          <mat-error>El campo tipo es obligatorio.</mat-error>
          }
        </mat-form-field>
      </div>
      <br />

      <!--Descripcion Column-->
      <mat-form-field>
        <mat-label>Saldo</mat-label>
        <input matInput formControlName="saldo" />
        <mat-error>
          @if (form.get('saldo')?.hasError('required')) { El Saldo es obligatorio!!!! }
        </mat-error>
      </mat-form-field>
      <br>
      <!--Si edicion es true que se muestre el botón Actualizar, si no se muestra el de registrar-->
      <div class="botonenviar">
        <button matButton="elevated">Registrar</button>
      </div>
    </form>
  </div>
</div>
