<app-menu></app-menu>
<div class="container">
  <h2>Lista de Usuarios</h2>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Nombre Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Actualizar Column -->
      <ng-container matColumnDef="c3" class="modificar">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['edits', element.idUsuario]"> <!--Se captura el idUsuario para actualizar esa fila-->
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="c4" class="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idUsuario)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Fila de encabezado -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Fila de contenido -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
