table {
    width: 100%;
    margin: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
