<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>{{ edicion ? 'Editar Dispositivo' : 'Registrar Dispositivo' }}</h2>
  </div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <!--Codigo-->
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="id" required readonly />

        @if (form.get('id')?.hasError('required')) {
        <mat-error>El campo id es obligatorio.</mat-error>
        }
      </mat-form-field>
      }
      <br />
      <!--Nombre-->
      <mat-form-field>
        <mat-label>Dispositivo</mat-label>
        <input matInput formControlName="nombre" required />

        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { El campo nombre es obligatorio. } @if
          (form.get('nombre')?.hasError('minlength')) { Debe tener al menos 4 caracteres. }
        </mat-error>
      </mat-form-field>
      <br />
      <!--Tipo-->
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo" required>
          @for (t of tipos; track t) {
          <mat-option [value]="t">{{ t }}</mat-option> }
        </mat-select>
        <mat-error>
          @if (form.get('tipo')?.hasError('required')) { El tipo es obligatorio!!!! }
        </mat-error>
      </mat-form-field>
      <br />

      <!--Ubicacion-->
      <mat-form-field>
        <mat-label>Ubicacion</mat-label>
        <input matInput formControlName="ubicacion" required />
        <mat-error>
          @if (form.get('ubicacion')?.hasError('required')) { La ubicación es obligatoria. } @if
          (form.get('ubicacion')?.hasError('pattern')) { Solo se permite texto (Ej. Cocina). }
        </mat-error>
      </mat-form-field>
      <br />

      <!--Fecha Registro-->
      <mat-form-field>
        <mat-label>Fecha Registro</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="fechaRegistro"
          [max]="today"
          required
          [disabled]="true"
          readonly
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        @if (form.get('fechaRegistro')?.hasError('required')) {
        <mat-error>El campo fecha es obligatorio.</mat-error>
        }
      </mat-form-field>
      <br />

      <!--Nombre Usuario (FK)-->
      <!-- El value es el valor que va a capturar (lo que debe registrarse en BD), y el viewValue es lo que el usuario verá-->
      <div *ngIf="isAdmin" class="example-full-width">
        <mat-form-field >
          <mat-label>Nombre Usuario:</mat-label>
          <mat-select formControlName="usuario" [required]="isAdmin">
            @for (u of listaUsuarios; track u.idUsuario) {
            <mat-option [value]="u.idUsuario">
              {{ u.nombre }}
            </mat-option>
            }
          </mat-select>

          @if (form.get('usuario')?.hasError('required')) {
          <mat-error>El campo usuario es obligatorio para administradores.</mat-error>
          }
        </mat-form-field>
      </div>

      <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
    </form>
  </div>
</div>
