<div class="main-container">
  
  <div class="header-actions">
    <h2>Lista de Recompensas</h2>
  </div>

  <div class="card-container">
    <mat-card *ngFor="let element of pagedData" class="mat-elevation-z2 contenido-card">

      <mat-card-header>
        <div mat-card-avatar class="avatar-header">
          <mat-icon>emoji_events</mat-icon> </div>
        <mat-card-title class="nombre">{{ element.nombre }}</mat-card-title>
        <mat-card-subtitle>ID: {{ element.idRecompensa }}</mat-card-subtitle>
      </mat-card-header>

      <div class="icon-hero-container">
        <mat-icon class="icono-hero">card_giftcard</mat-icon>
      </div>

      <mat-card-content>
        <p class="descripcion-texto">
          {{ element.descripcion }}
        </p>

        <mat-divider class="divider-spacing"></mat-divider>

        <div class="puntos-badge">
          <mat-icon class="icono-puntos">stars</mat-icon>
          <span class="valor-puntos">{{ element.costoPuntos }}</span>
          <span class="label-puntos">EcoPuntos</span>
        </div>
      </mat-card-content>
      @if(isAdmin) {
        <mat-card-actions align="end">
        <button mat-icon-button class="btn-edit" [routerLink]="['edits', element.idRecompensa]" matTooltip="Editar recompensa">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button class="btn-delete" (click)="eliminar(element.idRecompensa)" matTooltip="Eliminar recompensa">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
      }
      
    </mat-card>
  </div>

  <mat-paginator
    [length]="dataSource.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Seleccionar página de recompensas">
  </mat-paginator>

  <div *ngIf="!dataSource || dataSource.length === 0" class="no-data-container">
    <mat-icon class="no-data-icon">inbox</mat-icon>
    <p>Aún no hay recompensas registradas.</p>
  </div>

</div>