<div class="container">
  <div class="header-section">
    <h2>Nuestros Planes</h2>
    <p class="subtitle">Elige el plan perfecto para potenciar tu impacto ecológico</p>
  </div>

  <div class="plans-grid">
    <mat-card class="plan-card" *ngFor="let plan of listaPlanes">
      <div class="card-header-strip"></div>
      <mat-card-header class="plan-header">
        <mat-card-title class="plan-title">{{ plan.nombre }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="plan-content">
        <div class="price-container">
          <span class="currency">$</span> <span class="amount">{{ plan.costo }}</span>
          <span class="period">/mes</span>
        </div>

        <mat-divider></mat-divider>

        <div class="features-list">
          <p class="description">{{ plan.descripcion }}</p>
        </div>
      </mat-card-content>

      <mat-card-actions class="plan-actions">

        <button 
          mat-flat-button 
          class="select-button" 
          *ngIf="planSeleccionado !== plan"
          [disabled]="esPremium" 
          [class.premium-active]="esPremium"
          (click)="seleccionarPlan(plan)">

          {{ esPremium ? 'PLAN ACTIVO ✅' : 'SUSCRIBIRSE' }}

        </button>

        <div *ngIf="planSeleccionado === plan && !esPremium" class="paypal-wrapper">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
           </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
