mat-form-field {
  width: 100%;
}

button[matButton='elevated'] {
  background-color: rgb(82, 202, 128);

  color: white;

  border: none;

  padding: 0.5rem 1.25rem;

  font-size: 1.1rem;

  border-radius: 0.375rem;
  cursor: pointer;

  transition: background-color 0.3s ease;

  width: 60%;
    
  
}

button[matButton='elevated']:hover {
  background-color: #337733;
}

.titulo h2 {
  text-align: center;
}

/*Para alinear al medio el formulario se usa el margin 0 auto*/
.container {
  max-width: 700px;
  margin: 0 auto;
}

.botonenviar {
    display: flex;
    justify-content: center;
}