<div class="container">
  <br>
  <div class="titulo"><h2>Registro de Recompensa</h2></div>
  <br>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <!--Si edicion está en true que se muestre el campo ID, si es false no se muestra (osea para registrar, no actualizar)-->
      @if(edicion) {
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly/> <!--readonly para bloquear la caja de texto, el id no debe ser modificado-->
      </mat-form-field>
      }

      <br>

      <!--Nombre Column-->
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { El nombre de la recompensa es obligatoria!!!! }
        </mat-error>
      </mat-form-field>

      <br>

      <!--Descripcion Column-->
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" />
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) { La descripcion es obligatoria!!!! }
        </mat-error>
    </mat-form-field>

      <br>

      <!--CostoPuntos Column-->
      <div class="slider-container">
        <mat-label>Costo Puntos</mat-label>
        <mat-slider
          min="50"
          max="3500"
          step="50"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input matSliderThumb formControlName="costoPuntos" />
        </mat-slider>
      </div>

      <br>

      <!--Si edicion es true que se muestre el botón Actualizar, si no se muestra el de registrar-->
      @if(edicion) {
      <div class="botonenviar">
        <button matButton="elevated">Actualizar</button>
      </div>
      } @else {
      <div class="botonenviar">
        <button matButton="elevated">Registrar</button>
      </div>
      }
    </form>
  </div>
</div>

