<div class="container">
  <br />
  <div><h2 class="titulo">Registro de Foro</h2></div>
  <br />
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <!--Si edicion está en true que se muestre el campo ID, si es false no se muestra (osea para registrar, no actualizar)-->
      @if(edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
        <!--readonly para bloquear la caja de texto, el id no debe ser modificado-->
      </mat-form-field>
      }

      <!--Nombre Column-->
      <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="titulo" />
        <mat-error>
          @if (form.get('titulo')?.hasError('required')) { El titulo del foro es obligatorio!!!! }
        </mat-error>
      </mat-form-field>

      <!--Email Column-->
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea
          matInput
          formControlName="descripcion"
          placeholder="Escribe una breve descripción del foro..."
          maxlength="255"
        ></textarea>
        <mat-hint align="end">{{ form.get('descripcion')?.value?.length || 0 }} / 255</mat-hint>
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) { La descripcion es obligatoria!!!! }
        </mat-error>
      </mat-form-field>

      <!--Si edicion es true que se muestre el botón Actualizar, si no se muestra el de registrar-->
      @if(edicion) {
      <div class="botonenviar">
        <button matButton="elevated">Actualizar</button>
      </div>
      } @else {
      <div class="botonenviar">
        <button matButton="elevated">Registrar</button>
      </div>
      }
    </form>
  </div>
</div>
