/* Para que los campos de formulario ocupen todo el ancho */
mat-form-field {
  width: 100%;
}

/* --- ¡Selector Corregido! ---
  Usamos tu selector de la guía, pero le añadimos
  la clase padre '.botonenviar' para hacerlo más
  específico y que "gane" la batalla del CSS.
*/
.botonenviar button[matButton='elevated'] {
  background-color: rgb(82, 202, 128);
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
}

.botonenviar button[matButton='elevated']:hover {
  background-color: #337733;
}

/* Centra el título 'Registro de Consumo' */
.titulo h2 {
  text-align: center;
}

/* Para alinear al medio el formulario se usa el margin 0 auto */
.container {
  max-width: 700px;
  margin: 0 auto;
}

/* Centra el 'div' que contiene el botón */
.botonenviar {
  display: flex;
  justify-content: center;
}