
<!--Creación del botón de menu-
<div class="container">
    <mat-toolbar class="custom-toolbar">
        <button
        matButton
        class="btn-rojo"
        aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="menuUsuario">
            <mat-icon>menu</mat-icon> EcoHabit
        </button>
    </mat-toolbar>
    <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item routerLink="/listausuarios">Usuarios</button>
        <button mat-menu-item routerLink="/dispositivos">Dispositivos</button>
        <button mat-menu-item routerLink="/foros">Foros</button>
    </mat-menu>
</div>
-->

<!--Creación del botón de menú-->
<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      mat-button
      class="btn-rojo"
      aria-label="Botón de menú principal"
      [matMenuTriggerFor]="menuUsuario">
      <mat-icon>menu</mat-icon> EcoHabit
    </button>
  </mat-toolbar>

  <!-- Menú principal -->
  <mat-menu #menuUsuario="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="submenuUsuarios">
      Usuarios
    </button>
    <button mat-menu-item routerLink="/dispositivos">Dispositivos</button>
    <button mat-menu-item routerLink="/foros">Foros</button>
    <button mat-menu-item routerLink="/">Landing Page</button>
  </mat-menu>

  <!-- Submenú de Usuarios -->
  <mat-menu #submenuUsuarios="matMenu">
    <button mat-menu-item routerLink="/listausuarios">Listar</button>
    <button mat-menu-item routerLink="/listausuarios/registrousuario">Registrar</button>
  </mat-menu>
</div>

