<!--Creación del botón de menú-->
<div class="container">
  <mat-toolbar class="custom-toolbar">
    <button
      mat-button
      class="btn-rojo"
      aria-label="Botón de menú principal"
      [matMenuTriggerFor]="menuUsuario">
      <mat-icon>menu</mat-icon> EcoHabit
    </button>
  </mat-toolbar>

  <!-- Menú principal -->
  <mat-menu #menuUsuario="matMenu">
    <button mat-menu-item routerLink="/">Landing Page</button>

    <button mat-menu-item [matMenuTriggerFor]="submenuUsuarios">
      Usuarios
    </button>
    <button mat-menu-item [matMenuTriggerFor]="submenuForos">
      Foros
    </button>
    <button mat-menu-item [matMenuTriggerFor]="submenuRecompensas">
      Recompensas
    </button>
    <button mat-menu-item [matMenuTriggerFor]="submenuContenidoEducativo">
      Contenido Educativo
    </button>
  </mat-menu>

  <!-- Submenú de Usuarios -->
  <mat-menu #submenuUsuarios="matMenu">
    <button mat-menu-item routerLink="/listausuarios">Listar</button>
    <button mat-menu-item routerLink="/listausuarios/registrousuario">Registrar</button>
  </mat-menu>

  <!-- Submenú de Foro -->
  <mat-menu #submenuForos="matMenu">
    <button mat-menu-item routerLink="/listarforos">Listar</button>
    <button mat-menu-item routerLink="/listarforos/registroforo">Registrar</button>
  </mat-menu>

  <!-- Submenú de Recompensas -->
  <mat-menu #submenuRecompensas="matMenu">
    <button mat-menu-item routerLink="/listarrecompensa">Listar</button>
    <button mat-menu-item routerLink="/listarrecompensa/registrorecompensa">Registrar</button>
  </mat-menu>

  <!-- Submenú de Contenido Educativo -->
  <mat-menu #submenuContenidoEducativo="matMenu">
    <button mat-menu-item routerLink="/listarcontenidoeducativo">Listar</button>
    <button mat-menu-item routerLink="/listarcontenidoeducativo/registrocontenidoeducativo">Registrar</button>
  </mat-menu>

</div>

