<div class="container">
  <div style="text-align: center; margin-bottom: 20px;">
    <h1>{{ isAdmin ? 'Gestión de Billeteras' : 'Mi Billetera' }}</h1>
  </div>

  <div *ngIf="isAdmin" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.idBilletera }} </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{ element.usuario.nombre }} </td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Saldo (Puntos) </th>
        <td mat-cell *matCellDef="let element"> {{ element.saldo }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="!isAdmin" class="cards-container">
    
    <mat-card class="wallet-card" *ngFor="let billetera of dataSource.data">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <mat-card-title>Saldo Disponible</mat-card-title>
        <mat-card-subtitle>Billetera Personal</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <div class="saldo-display">
          <span class="currency">Pts.</span>
          <span class="amount">{{ billetera.saldo }}</span>
        </div>
        <p>Usuario: {{ billetera.usuario.nombre }}</p>
      </mat-card-content>
      
      
    </mat-card>

    <div *ngIf="dataSource.data.length === 0" style="text-align: center; margin-top: 20px;">
      <p>No tienes una billetera registrada aún. <br> Espera a que el Administrador te cree una.</p>
    </div>

  </div>
</div>